.navbar {
  color: #111;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &__title {
    font-size: 25px;
    font-style: normal;
    
  }
    
    &__list {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 35px;
      display: flex;
      & li {
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        & a {
          color: #111;
          text-decoration: none;
          padding: 14px;

          &:hover {
            color: #111;
          }
        }
      }
    }
  }

  .button {
    background-color: #F2D2BD;
    color: black;
    border: 2px solid #555555;
    border-radius: 3px;
    padding: 10px;
    height: 40px;
    text-align: center;
    
  }